body {
	background-image: url("https://pbs.twimg.com/profile_images/684576619453898752/iVU5hFO8.jpg");
	background-size: cover;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: 'Trebuchet MS', sans-serif;
	color: #ffffff;
	font-size: 3rem;
	-webkit-text-fill-color: white;
   	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: black;
}

h2 {
	font-family: 'Trebuchet MS', serif;
	color: #ffffff;
	font-size: 2rem;
	-webkit-text-fill-color: white;
   	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: black;
}

#right {
	text-align: right;
}
