body {
	background-image: url("https://pbs.twimg.com/profile_images/684576619453898752/iVU5hFO8.jpg");
	background-size: cover;
	font-color: #FFFFFF;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 2rem;
}

h2 {
	font-family: 'Trebuchet MS', serif;
	font-size: 1rem;
}
